# Text-Based Depression Detection System

### Information About the Data Set

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mental_data = pd.read_csv('mental_health.csv')
mental_data

                                                    text  label
0      dear american teens question dutch person hear...      0
1      nothing look forward lifei dont many reasons k...      1
2      music recommendations im looking expand playli...      0
3      im done trying feel betterthe reason im still ...      1
4      worried  year old girl subject domestic physic...      1
...                                                  ...    ...
27972  posting everyday people stop caring  religion ...      0
27973  okay definetly need hear guys opinion ive pret...      0
27974  cant get dog think ill kill myselfthe last thi...      1
27975  whats point princess bridei really think like ...      1
27976  got nudes person might might know snapchat do ...      0

[27977 rows x 2 columns]

As we can see above, the data set we will be working on includes two columns named as text and label. Texts are labeled as 1 and 0 which means the depressed and non-depressed. In the data set we have 27977 rows in total.

In [3]:
mental_data.isnull().sum()

text     0
label    0
dtype: int64

When we check the data set, we can see that there are no missing values. That means, there is no need to clean the data set before displaying models on it.

In [4]:
mental_data.describe()

              label
count  27977.000000
mean       0.494621
std        0.499980
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000

In [5]:
mental_text = mental_data[['text']]
mental_text.head()

                                                text
0  dear american teens question dutch person hear...
1  nothing look forward lifei dont many reasons k...
2  music recommendations im looking expand playli...
3  im done trying feel betterthe reason im still ...
4  worried  year old girl subject domestic physic...

In [6]:
mental_text.describe()

                                     text
count                               27977
unique                              27972
top     real suppleroot hours  up day far
freq                                    3

In [8]:
mental_text.shape

(27977, 1)

### Cleaning the Text